body{

    height: 100vh;
    background-color: ghostwhite;
margin:1em;
    padding: 1em;
    border:0.1em solid pink;

    font-family: "serif";

}

.display-row{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}

.display-center{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.font-bigger{
    font-size: 80px;
    letter-spacing: .05em;
    font-family: sans-serif;
    color:slateblue;
}
.font-medium{
    font-size: 20px;
    letter-spacing: .05em;
    font-weight: 900;
    color:slateblue;
}

.baseTextAreaContainer {
    display: flex;
    height: 110px;
    margin: 10px;
}

.baseTextArea {
    flex: 1;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 18px;
    resize: none;
}

.darkBtn {
    background: #4a90e2;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #4a90e2;
}

.darkBtn:hover {
    background: #1877E6
}
.baseDuckContainer {
    border-radius: 5px;
    max-width: 450px;
    margin: 15px auto;
    padding: 10px;
    cursor: pointer;
}

.baseAvatar {
    width: 75px;
    border-radius: 3px;
    margin-right: 15px;
}

.clickable {
    cursor: pointer;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.1);
}
